.get-notified {
	margin: 0;
	text-align: center;
}
.get-notified button {
	background-color: black;
	border-radius: 0;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.hero-image {
	width: 50%;
}
.splash-text {
	margin-bottom: 20px;
	text-align: center;
}
.splash-text h3 {
	font-weight: 200;
	line-height: 150%;
}